---
---
@import "{{ site.theme }}";
header {
  img {
    border-radius: 50%;
    margin-left: -40px;
    height: 270px;
    width: 270px;
  }
  p {
    text-align: center;
  }
  p.view {
    text-align: left;
  }
}

img[alt$=">"] {
  float: right;
}

img[alt$="<"] {
  float: left;
}

section {
  p, ul, ol, table, pre, dl {
    margin: 0 0 10px;
  }
}

.wrapper {
    width:1110px;
    margin:0 auto;
  }

section {
    width:750px;
    float:right;
    padding-bottom:50px;
  }
