---
---
@import "{{ site.theme }}";
header {
  img {
    border-radius: 50%;
    margin-left: -80px;
    height: 350px;
    width: 350px;
  }
  p {
    text-align: center;
  }
  p.view {
    text-align: left;
  }
}
section {
  p, ul, ol, table, pre, dl {
    margin: 0 0 10px;
  }
}

.wrapper {
    width:1110px;
    margin:0 auto;
  }

section {
    width:750px;
    float:right;
    padding-bottom:50px;
  }
